[gerrit]
	basePath = /opt/repositories
	canonicalWebUrl = https://review.nameless-rom.org/
	reportBugUrl =
[user]
	name = Nameless Rom Code Review
	email = review@nameless-rom.org
[index]
	type = LUCENE
[auth]
	type = OAUTH
[database]
	type = postgresql
	hostname = localhost
	database = reviewdb
	username = gerrit2
	connectionPool = true
	poolLimit = 50
	poolMinIdle = 8
	poolMaxIdle = 16
[sendemail]
	smtpServer = 10.0.3.1
	smtpServerPort = 587
	smtpEncryption = TLS
	smtpUser = alex
[container]
	user = root
	javaHome = /usr/java/jdk1.8.0_74/jre
	heapLimit = 8g

[sshd]
	listenAddress = *:29518
[httpd]
	listenUrl = proxy-https://*:8081/
[cache]
	directory = cache

[download]
	command = checkout
	command = cherry_pick
	command = pull
	command = format_patch
	scheme = ssh
	scheme = http
	scheme = anon_http
	archive = off
[receive]
	enableSignedPush = false
	timeout = 4 min

[suggest]
	accounts = true
	from = 0
[mimetype "image/*"]
	safe = true
[mimetype "application/pdf"]
	safe = true

[change]
	largeChange = 2000
[changeCleanup]
	abandonAfter = 3 months
	interval = 1 week
	startTime = Mon 00:00
[gc]
	startTime = 6:00
	interval = 1 week

[plugins]
	allowRemoteAdmin = true
	checkFrequency = 0
[plugin "gerrit-oauth-provider-google-oauth"]
	client-id = 139701016189-at5kf1jd11sm1qhe6otmjjvuuai840vf.apps.googleusercontent.com
	link-to-existing-openid-accounts = true
[plugin "avatars-gravatar"]
	type = retro

[gitweb]
	url = http://github.com
	linkname = github
	revision = /${project}/commit/${commit}
	project = /${project}
	branch = /${project}/branches/${branch}
	filehistory = /${project}/commits/${branch}/${file}
	urlEncode = false
