[remote "github"]
        url = git@github.com:${name}.git
        push = +refs/heads/*:refs/heads/*
        push = +refs/tags/*:refs/tags/*
        push = +refs/changes/*:refs/changes/*
        timeout = 60
        autoReload = true
        createMissingRepositories = false
        replicatePermissions = false
